In [ ]:
# 8.2.1 Import Wikipedia data

# dependencies
import json
import pandas as pd
import numpy as np
# 8.3.8 adding re (regular expressions)
import re
# 8.5.1 adding create_engine to import modules in pgAdmin
from sqlalchemy import create_engine
# 8.5.1 adding db_password from config.py
from config import db_password
# 8.5.1 import ratings dat in chunks and check time to run
import time

In [ ]:
# import data with file_dir variable 
file_dir = 'C://Users/ckbau/Movies-ETL/'

In [ ]:
# Load JSON into a list of Dictionaries
# wiki_movies_raw is a list of dicts
with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [ ]:
# how many records were pulled
len(wiki_movies_raw)

In [ ]:
# want to see sample of data but this isn't a dataframe so can't use head() or tail()
# list of dicts need to ispect the records directly
# list need to use index slices

# First 5 records
wiki_movies_raw[:5]

In [ ]:
# Last 5 records
wiki_movies_raw[-5:]

In [ ]:
# Some records in the middle because we know there are 7,311 records
wiki_movies_raw[3600:3605]

In [ ]:
# 8.2.2 Extract Kaggle Data

In [ ]:
# data in a .csv file so can copy into a dataframe

kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')

In [ ]:
kaggle_metadata.head()

In [ ]:
ratings.head()

In [ ]:
ratings.tail()

In [ ]:
# use sample method to review 5 rows of random data

ratings.sample(n=5)

In [ ]:
kaggle_metadata.sample()

In [ ]:
# 8.3.1 Data Cleaning

In [ ]:
# 8.3.3 Investigate the Wiki Data

# Create a dataframe and see what happens
wiki_movies_df = pd.DataFrame(wiki_movies_raw)

In [ ]:
wiki_movies_df.head()

In [ ]:
# results show 5 rows and 193 columns - that's too many columns

# convert columns to a list

wiki_movies_df.columns.tolist()

In [ ]:
# use list comprehensions to filter Data to only see only entries with a Director and IMDb link

In [ ]:
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie]

In [ ]:
len(wiki_movies)

In [ ]:
# make a df from wiki_movies and see how many rows and columns now and names
# will get 5 rows and 78 columns - still a lot of data

wiki_movies_df = pd.DataFrame(wiki_movies)

In [ ]:
wiki_movies_df.head()

In [ ]:
# noticed don't need No. of episodes in data since probably from a series and not movie
# modify wiki_movies

wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie
                   and 'No. of episodes' not in movie]

In [ ]:
len(wiki_movies)

In [ ]:
# rerun df after changing wiki_movies
wiki_movies_df = pd.DataFrame(wiki_movies)

In [ ]:
wiki_movies_df.head()

In [ ]:
# 8.3.4 Revisit Functions

# we cleaned up bad data
# now need to clean up each movie entry to a standard format
# scope - Global variable and Local variables
# Lamda functions

In [ ]:
# 8.3.5 Create a Function to Clean the Data, Part 1

In [ ]:
# write simple function to make a copy of he movie and return it
# call funcion clean_movie and have it take movie as a parameter

# movies are dicts (dictionaries) and want to make nondestructive edits, so make a copy
# of the incoming movie using dict() constructor

In [ ]:
def clean_movie(movie):
    movie_copy = dict(movie)

In [ ]:
# better way to do it is create a Local variable inside the function called movie
# any changes we make inside the function will only affect the copy or local var.
# if we make a mistake, we still hav original outside the function untouched

def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    return movie

In [ ]:
# review languages for movies - start with Arabic

wiki_movies_df[wiki_movies_df['Arabic'].notnull()]

In [ ]:
# review the URL for the 2 movies in Arabic - so get the URL

wiki_movies_df[wiki_movies_df['Arabic'].notnull()]['url']

In [ ]:
# different language columns are for alternate titles of the movie
# go through each column and determine which are alternate titles

In [ ]:
# sort column names in alphabetical order to review column names

sorted(wiki_movies_df.columns.tolist())

In [ ]:
# we know the languages for alternate titles are:
# Arabic, Cantonese, Chinese, French, Hangul, Hebrew, Hepburn, Japanese, Literally, Manderain
# McCune-reischauer, Original Title, Polish, Revised Romanization, Romanized, Russian, Simplified,
# Traditional, Yiddish

In [ ]:
# add code to handle the alternative titles with a dictionary

In [ ]:
# step 1: make an empty dict to hold all of the alternative titles
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    # step 2: loop through a list of all alternative title keys
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        # step 2a: check if the current key exists in the movie object
        if key in movie:
                # step 2b: if so, remove the key-value pair and add to the alternative title dict.
                alt_titles[key] = movie[key]
                movie.pop(key)
    # step 3: after looping through every key, add the alternative titles dict to the movie object
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles
            
    return movie

In [ ]:
# make a list of cleaned movies with a list comprehension

clean_movies = [clean_movie(movie) for movie in wiki_movies]

In [ ]:
# set wiki_movies_df to a DF from clean_movies and print out a list of columns

wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

In [ ]:
# 8.3.6 Create a function to clean data part 2

In [ ]:
# look for columns with slightly differnt names but same data
# consolidate columns with same data into one column
# can use pop() to change name of dictionary key, pop() returns value from removed key-value pair
# see if key exists in given movie record with function inside clean_movie()

In [ ]:
# NOTE: name functions as verbs for better understanding and be explicit
# add a function within the clean_movie function

In [ ]:
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    # combine alternate titles into one list
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune-Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    # merge column names that are similar
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [ ]:
# rerun list comprehension to clean wiki_movies and recreate wiki_movies_df

clean_movies = [clean_movie(movie) for movie in wiki_movies]
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

In [ ]:
# 8.3.7 Remove Duplicate Rows

In [ ]:
# use Regex (regular expression)wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})') to define the pattern and get the IMDb ID
# using str.extract()
# r tells python to use raw string since using a backslash inside
# \d tells to use a numerial digit
# {7} tells to match the last thing (numerical digit) 7 times

# drop any duplicates of IMDb IDs by using the drop_duplicates()
# subset = imdb_id so only for the ID
# inplace = True so operation is performed on the selected dataframe - otherwise will return
# an edited dataframe

# See new number of rows and how many rows were dropped

In [ ]:
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
print(len(wiki_movies_df))
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_movies_df))
wiki_movies_df.head()

In [ ]:
# remove mostly null columns

# First way - how many null values in each column - use list comprehension (or could do a For loop)
[[column,wiki_movies_df[column].isnull().sum()] for column in wiki_movies_df.columns]

In [ ]:
# from output, about 50% of columns have over 6,000 null values

In [ ]:
# tweak the list above so that we see columns with less than 90% null values

[column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]

In [ ]:
# the columns we want to keep

wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [ ]:
wiki_movies_df.head()

In [ ]:
# 8.3.8 Plan to convert & parse the data
# review data types for all the data and see where need to change using Regex

In [ ]:
# see datatypes for the columns

wiki_movies_df.dtypes

In [ ]:
# results show Box Office should be numeric, 
# Budget should be numeric
# release date should be date
# Running time should be numeric

In [ ]:
# start by cleaning Box Office data
# only want to see rows where box office data is defined
# make a data series that drops missing values

box_office = wiki_movies_df['Box office'].dropna()

In [ ]:
# how many rows still left after dropping missing values

len(box_office)

In [ ]:
# RegEx only works on strings
# make sure all of the box office data is entered as a string
# use the map() method to see which values are not strings
# create a function to search

def is_not_a_string(x):
    return type(x) != str
box_office[box_office.map(is_not_a_string)]

In [ ]:
# use the lamda function instead - can replace the function above

lambda x: type(x) != str

# update map() call to use the lamda function

box_office[box_office.map(lambda x: type(x) != str)]

In [ ]:
# output shows quite a few data points that are stored as lists
# use join() string method that concatentates list into one string

box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
box_office

In [ ]:
# 8.3.9 Write Regular Expressions

In [ ]:
# 8.3.10 Parse the Box Office Data

In [ ]:
# For Box Office data in 2 forms.  Form 1: $123.4 million or billion
# Form 2: $123,456,789

# Form 1:
# 1. \$ to begin but add the \ because $ is also a special character
# 2. add \d+ to specify digits come next - 0-9 and add + to add the digits
# 3. \.? add decimal point but use the escape \ because . is special char.  Decimal optional so add ?
# 4. \d* adding more digits after decimal possibly and add * because might not have any digits after .
# 5. \s* for whitespace char and * because don't know how many
# 6. [mb]illion for million or billion

In [ ]:
# create a varialbe form_one for reguar expression.
# use escape characters \ so need to preface the string with an r

form_one = r'\$\d+\.?\d*\s*[mb]illion'

In [ ]:
# how many box_office values match form_one
# str.contains()
# flags to ignore whether letters are uppercase or lowercase
# set equal to re.IGNORECASE
# na=False  in case the data is not a string
# sum() to count the total number that return True

box_office.str.contains(form_one, flags=re.IGNORECASE, na=False).sum()

In [ ]:
# Form 2:
# 1.\$ start with $ and escape it with \
# 2. \d{1,3} for digits and for 1-3 digits
# 3. (?:,\d{3})+  : ,\d{3} match a comma and exactly 3 digits
#                  () put around to match any repitition of that group then put + sign outside
#                  ?:  non-capturing group

In [ ]:
# create a variable form_two
# use escape characters \ so need to preface the string with an r

form_two = r'\$\d{1,3}(?:,\d{3})+'

In [ ]:
# count how many values match this pattern
box_office.str.contains(form_two, flags=re.IGNORECASE, na=False).sum()

In [ ]:
# compare values in the 2 forms
# Create 2 boolean series to be able to compare

matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE, na=False)

In [ ]:
# use Pandas element-wise logical operators:
# ~  Not
# &  and
# |  or

# see which values in box office don't match either form (so NOT in either)
box_office[~matches_form_one & ~matches_form_two]

In [ ]:
# Fix pattern Matches - such as too much space, . vs ,  , range, misspelled

# 1. fix that some values have spaces in between the dollar sign and the number
#    add \s* after $ in form


form_one = r'\$\s*\d+\.?\d*\s*[mb]illion'
form_two = r'\$\s*\d{1,3}(?:,\d{3})+'

In [ ]:
# 2. fix that some values usse a period as a thousands separator, not a comma
#    change form_two to allow for either a comma or period as thousands seperator
#    add [,\.] so that either , or . are seperators and \ is escape on .

form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+'

In [ ]:
# 2 cont....  only want to look at numbers like $123.456.789 not 1.234 million
#      add negative lookahead group to look ahead for million or billion the reject the match if it is

form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'

In [ ]:
# 3. fix that some values are given as a range
#    search for string starts with $ and ends with a - using replace()
# replace (to be replaced, replace with)
# use regex=True to use regular expressions in the first argument

box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [ ]:
# 4. fix that Million is sometiems misspelled as millon
#    make second i optional in our match sring with a ?

form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'

In [ ]:
# Extract and Convert the Box Office Values
# use f string and str.extract()
# create a regular expression that captures data when it matches either form_one or form_two

box_office.str.extract(f'({form_one}|{form_two})')

In [ ]:
# create a function to turn the extracted values into a numeric value - parse_dollars

def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [ ]:
# now parse the box office values to numeric values
# extract values from box_office using str.extract
# apply parse_dollars to the first column in the DataFrame returned by str.extract

wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [ ]:
wiki_movies_df['box_office']

In [ ]:
# we no longer need the Box Office column so drop it

wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [ ]:
# 8.3.11 Parse Budget Data - similar to box office data

In [ ]:
# create a budget variable
budget = wiki_movies_df['Budget'].dropna()

In [ ]:
# convert any lists to srings
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# remove any values between a dollar sign and a hyphen (for budgets given in ranges)
budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [ ]:
# pattern matches in form
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE, na=False)
budget[~matches_form_one & ~matches_form_two]

In [ ]:
# output good and similar to box office data but have some values with citation references [4]
# remove citations [] with regex
# \[\d+\]  \ outside of [] escapes the brackets and \d+ looks for one or more digits
budget = budget.str.replace(r'\[\d+\]\s*', '')
budget[~matches_form_one & ~matches_form_two]

In [ ]:
# parse budget values
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [ ]:
wiki_movies_df['budget']

In [ ]:
# can drop the original Budget column
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [ ]:
# PARSE RELEASE DATE
# make a variable that holds non-null values of release date in the DataFrame converting lists to strings
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
release_date

In [ ]:
# Date forms are:
# full month name, 1 to 2 digit day, 4 digit year (January 1, 2000)
# 4 digit year, 2 digit month, 2 digit day, any separator (2000-01-01)
# full month name, 4 digit year (January 2000)
# 4 digit year

In [ ]:
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]?\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[0123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [ ]:
#  NOTE:  for longer regex expressions, consider using re.VERBOSE option to comment each component

In [ ]:
# extract the dates using the 4 form options
release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

In [ ]:
# use built in to_datetime()
# set the infer_datetime_format option to True

wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [ ]:
# PARSE RUNNING TIME
# make variable to hold non-null values of Release Data in DF, converting lists to strings
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
running_time

In [ ]:
# results show that most values look like "100 minutes"

In [ ]:
# see how many running times look similar using string boundaries
running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False).sum()

In [ ]:
# total rows in running time is 6894, but 6528 rows have similar string of "100 minutes"
# what do the other 366 strings look like

running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False) != True]

In [ ]:
# make output more general by only marking the beginning of the string
# also accept other abbreviations of "minutes" by only searching up to the letter "m"

running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False).sum()

In [ ]:
# get more output of 6877
# what do the other 17 rows look like not in that format

running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False) != True]

In [ ]:
# output shows formatting with hours and minutes - e.g. 1 h 43 min
# extract digits with this format of hours, min, etc..
# capture all possible abbrev of hour(s) - make every letter in hours optional except h

running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')

# that produced only strings, so convert to numeric values, use to_numeric() to get empty strings
# use 'coerce' to change empty strings into NaN
# use fillna() to change NaNs to zeros

running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [ ]:
# create a function that will convert the hour capture groups and minute capture groups to minutes
# if the pure minutes capture group is zero, save the output to wiki_movies_df

wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [ ]:
wiki_movies_df['running_time']

In [ ]:
# drop Running Time from dataset
wiki_movies_df.drop('Running time', axis=1, inplace=True)

In [ ]:
# 8.3.12 Clean the Kaggle Data

In [ ]:
# check datatypes for Kaggle Data
kaggle_metadata.dtypes

In [ ]:
kaggle_metadata.head()

In [ ]:
# REMINDER: object data type for strings
# some columns data type should be changed
# ID, budget, popularity, - numeric
# release_date - datetime
# adult, video - boolean

In [ ]:
# change adult and video columns to boolean
# first check that all Adult values are either true or false

kaggle_metadata['adult'].value_counts()

In [ ]:
# output has some bad data
# remove the bad data, but first show the rows of bad data

kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

In [ ]:
# output shows the data is scrambled for 3 movies
# looking through data shows nothing that could be the IMDb ID, so not useful

# DROP the 3 rows of data
# since these appear to be ADULT movies, also want to just drop ALL Adult movies anyway
# DROP all rows that are Adult - so keep rows where adult column is False
# and drop the adult column when done


kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [ ]:
# review the values in video column

kaggle_metadata['video'].value_counts()

In [ ]:
# output shows just True or False values - no messed up data

In [ ]:
# convert video data type to boolean

kaggle_metadata['video'] == 'True'

In [ ]:
# assign the boolean video column back to video

kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [ ]:
# convert data type for budget, id, popularity to numeric
# use to_numeric() method
# use errors= argument and set to 'raise' to know if any bad data

kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [ ]:
# convert release_date to datetime
# use to_datetime()

kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [ ]:
# check on reasonability checks on Ratings Data
# ratings data has a lot of rows, need to set the null_counts option to True

ratings.info(null_counts=True)

In [ ]:
# note the timestamp (which is the number of seconds since midnight january 1, 1970)
# this is the Unix epoch
# use to_datetime() with unix and time unit as seconds

pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
# output looks good so assign values to the timestamp column

ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
# do some statistics on the ratings data
# do a histogram (a bar chart displaying how often a data point shows up in the data)

pd.options.display.float_format = '{:20,.2f}'.format
ratings['rating'].plot(kind='hist')
ratings['rating'].describe()

In [ ]:
# output shows median score is 3.5 and mean is 3.53 with all ratings between 0 and 5
# people are more likely to give whole number vs. half for ratings

In [ ]:
# 8.4.1 Merge Wiki and Kaggle metadata

In [ ]:
# print out list of the columns to identify which ones are redundant
# use suffixes parameter to make it easier to identiy which table each column from

movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

In [ ]:
movies_df.head()

In [ ]:
movies_df.columns

In [ ]:
# output shows 7 pairs of redundant info

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle                Drop Wiki
# running_time             runtime                     keep kaggle, fill in 0's with wiki
# budget_wiki              budget_kaggle               keep kaggle, fill in 0's with wiki
# box_office               revenue                     keep kaggle, fill in 0's with wiki
# release_date_wiki        release_date_kaggle         Drop Wiki
# Language                 original_language           Drop Wiki
# Production company(s)    production_companies        Drop Wiki

In [ ]:
# TITLES
# review some titles between the 2

movies_df[['title_wiki','title_kaggle']]

In [ ]:
# look at rows where titles don't match

movies_df[movies_df['title_wiki'] != movies_df['title_kaggle']][['title_wiki','title_kaggle']]

In [ ]:
# output shows Kaggle title data a little better
# confirm there aren't any missing titles in Kaggle data

# Show any rows where title_kaggle is empty
movies_df[(movies_df['title_kaggle'] == '') | (movies_df['title_kaggle'].isnull())]

In [ ]:
# output shows 0 rows where no title in Kaggle data
# resolution:  Drop the wiki title data

In [ ]:
# RUNTIME
# compare running_time (wiki) and runtime (kaggle)
# use a scatter plot to see if the same 
# first need to fill in any missing values with zero and make scatter plot

movies_df.fillna(0).plot(x='running_time', y='runtime', kind='scatter')

In [ ]:
# outcome shows more missing entries in wiki data (x) than kaggle (y)
# most runtimes are pretty close but wiki has some outliers
# there are movies where kaggle has 0 but wiki has data
# resolution:  keep kaggle, fill in zeros with wiki data

In [ ]:
# BUDGET
# budget_wiki and budget_kaggle are numeric - make another scatter plot

movies_df.fillna(0).plot(x='budget_wiki',y='budget_kaggle', kind='scatter')

In [ ]:
# outcome shows wiki appears to have more outliers compared to kaggle
# there are quite a few movies with no data in the kaggle column
# but wiki has budget data
# Resolution:  keep kaggle, fill in zeros with wiki data

In [ ]:
# BOX OFFICE
# box_office and revenue are numeric - make another scatter plot

movies_df.fillna(0).plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
# outcome close, but big outlier around 1 billion
# remake scatter plot for less than 1 billion

movies_df.fillna(0)[movies_df['box_office'] < 10**9].plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
# outcome similar to budget
# resolution:  keep kaggle data but fill in zerios with wiki

In [ ]:
# RELEASE DATE
# release_date_wiki and release_date_kaggle
# can't do scatter plot since not numeric
# create a regular line plot and change style to dots so similar to scatter plot

movies_df[['release_date_wiki','release_date_kaggle']].plot(x='release_date_wiki', y='release_date_kaggle', style='.')

In [ ]:
# outcome shows weird oulier in 2006
# try to find it with date modifications of wiki after 1996 and kaggle before 1965

movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')]

In [ ]:
# found the movie "The Holiday" was wrong so going to drop it
# get index of the movie row

movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index

In [ ]:
# drop that index row

movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

In [ ]:
# now run to see if any null values for release_date_wiki

movies_df[movies_df['release_date_wiki'].isnull()]

In [ ]:
# results show wiki data missing release dates for 11 movies
# kaggle data not missing any release dates
# resolution: drop the wiki data

In [ ]:
# LANGUAGE
# compare value counts for language (wiki)

#######   movies_df['Language'].value_counts()  # took out because will give an error

In [ ]:
# outcome gives an error because some language data points are stored as lists

# convert the language lists to tuples so value_counts will work

movies_df['Language'].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False)

In [ ]:
# run value_counts on original_language (kaggle)
# no lists in this data so can run value_counts

movies_df['original_language'].value_counts(dropna=False)

In [ ]:
# outcome is that the kaggle data is less messy then the wiki
# resolution: drop the wiki

In [ ]:
# PRODUCTION COMPANIES
# just look at sample of data from each
# Production company(s) (wiki) and production_companies (kaggle)

movies_df[['Production company(s)','production_companies']]

In [ ]:
# outcome is kaggle data much more consistent
# resolution:  drop wiki

In [ ]:
# PUT IT ALL TOGETHER now that we have resolutions for all

# first:  drop title_wiki, release_date_wiki, Language, Production company(s) columns

movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [ ]:
# create a function that fills in missing data for a column pair and then drops the redundant column

def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

In [ ]:
# run function for the 3 column pairs where we filled in zeros
# runtime, budget_kaggle, revenue

fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
movies_df

In [ ]:
# since merged dat and filled in values, check that aren't any columns with only one value
# don't forget to convert lists to tuples for value_counts to work

for col in movies_df.columns:
    lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
    value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
    num_values = len(value_counts)
    if num_values == 1:
        print(col)

In [ ]:
# output shows "video" with only 1 value

In [ ]:
movies_df['video'].value_counts(dropna=False)

In [ ]:
# since all rows are False, we don't need to include this column

In [ ]:
# reorder the columns to make the dataset easier to read for the hackathon
# have similar columns near each other

movies_df = movies_df.loc[:, ['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

In [ ]:
# rename the columns to be consistent

movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

In [ ]:
# 8.4.2  Transform and Merge Rating Data
#  NOTE:  ratings very large dataset   from ratings.csv    26 million rows
# try to reduce data by using counts instead - how many times a movie received a rating

# groupby on movieId and rating columns and take count for each group

rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count()

In [ ]:
# rename userId column to count

rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1)

In [ ]:
# pivot data so that movieId is the Index,
# the columns will be all the rating values,
# rows will be the counts for each rating value

rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [1]:
# rename columns so easier to understand
# prepend rating_ to each column with list comprehension

rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

NameError: name 'rating_counts' is not defined

In [ ]:
rating_counts.columns

In [ ]:
# merge rating counts into movies_df
# movies_df join with rating_counts with left merge - keep everything in movies_df whether ratings or not

movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [ ]:
# not every movie had ratings for every rating level
# there will be missing values instead of zeros
# fill in those with zeros

movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

In [ ]:
# 8.5.1 Connect Pandas and SQL
# added import create_engine to allow Pandas to communicate with our SQL server

In [ ]:
# Create the Database Engine
# how to connect to the database
# make a connection string for PostgreSQL with the following format

#####   "postgresql://[user]:[password]@[location]:[port]/[database]"

In [ ]:
# create config.py to hold the database password with variable db_password
# added config.py to .gitignore so that the password isn't seen on GitHub

# add db_password to import (cell 1)

In [ ]:
# connection string for local server is
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [ ]:
# create the database engine
engine = create_engine(db_string)

In [ ]:
####### commenting out below so don't rerun movies import

# import the Movie Data
# save movies_df dataframe to a SQL table called 'movies'

#movies_df.to_sql(name='movies', con=engine)

In [ ]:
# go to pgAdmin and check through the movies table in movie_data database

In [ ]:
# import the Ratings Data
# data is TOO LARGE to import in 1 statement
# divide into chunks
# reimport the CSV uisng the chunksize= parameter in read_csv()
# this creates an iterable object so we can make a for loop and append chunks of data to new rows
#      in the target SQL table

In [ ]:
#####  commenting out below so don't rerun the ratings.csv data import

# create a variable for the number of rows imported
#rows_imported = 0
# get the start_time from time.time()
#start_time = time.time()
#for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):

    # print out the range of rows that are being imported
#    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')

#    data.to_sql(name='ratings', con=engine, if_exists='append')

    # increment the number of rows imported by the size of 'data'
#    rows_imported += len(data)

    # print that the rows have finished importing
    # add elapsed time to final print out
#    print(f'Done. {time.time() - start_time} total seconds elapsed')